body{
    background-image: url(images/silverware.jpg);
    background-repeat: repeat;
    font-family: Georgia, Garamond, serif;
    color: #404040;
    font-size: 11pt;
    background-attachment: fixed;
}
h3{
    font-family:'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 18pt;
    color: #A4A400;
    background-color: #F0F0F0;
    align-content: center;
    letter-spacing:  0.25em;
    font-weight: lighter;
    display: inline;
    text-decoration: underline;
}
ul li{
    list-style-image: url(images/pie_icon.gif);
    line-height: 20px;
}
ol li{
    line-height: 20px;
}

#body p{
    line-height: 20pt;
}
#pie-title{
    font-size: 22pt;
    font-weight: normal;
    text-align: center;
    margin: 400px;
}
a{
    color: #A4A400;
}
.usercomment{
    background-color:rgb(250, 250, 171);
    margin-left: 50px;
    margin-right: 50px;
    font-style: italic;
}
#footer{
    text-align: right;
}
#footer p{
    font-family: 'Courier New', Courier, monospace;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:gainsboro;
    color:#A4A400;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
#striked-out{
    text-decoration: line-through;
}
.directions{
    font-weight: bold;
}