body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgray;
    background-position: 370px 20px; 
}
/*p{
    background-color: goldenrod;
}*/
p::first-letter {
    font-size: 25px;
}
h1{
    color:midnightblue;
}
h3{
    color: midnightblue;
}
strong{
    color:darkgoldenrod;
}
/* unvisited link */
a:link {
    color:darkred;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: darkolivegreen;
}
/* mouse over link */
a:hover {
    color:darkviolet;
    text-decoration: underline;
}
/* click on a link */
a:active {
    color:darkblue;
}
dt{
    color:darkgoldenrod;
}