*{
    font-size: 14pt;
    font-family: sans-serif;
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
    background-color: #CCCCFF;
}

h1{
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}
#main_content {
    max-width: 90%;
    width: 800px;
    padding: 0 15px;
    margin: auto;
    text-align: center;
}
#display{
    font-family: monospace;
    width: 90%;
    height: 450px;
    font-size: 7pt;
    font-weight: bold;
    margin: auto;
}

fieldset{
    display: inline-block;
    border: 5px solid black
}

#fieldset_group {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

footer {
    position: fixed;
    right: 10px;
    bottom: 10px;
}