.border {
    border-style: solid;
    border-width: 5px;
    margin: 3px;
}
#header{
    text-align: right;
    background-color: #A8F0F0;
    border-width: 0px;
}
#shortdescription{
    border-width: 0px;
}
div h2{
    font-size: 14pt;
}

#section1, #section2{
    border: solid #C2E9E9 4px;
    border-radius: 15px;
    background-color: #E8FBFB;
    margin-top: 10px;
    padding: 5px;
    overflow: auto;
}
#overall{
    border:solid white 10px;
    background-color: white;
    margin: auto 10%;
}
#date1, #date2{
    border-width: 0px;
    border-bottom: dashed blue 2px;
}
#footer{
    margin-left: 10%;
}
#bg{
    background: url("http://mumstudents.org/cs472/2019-07-RS/Labs/2/background.gif");
    border: none;
    align-content: center;
}

#section1 img, #section2 img{
    float: right;
}

@media screen and (min-width:600px) {
    #friends{
        width: 15%;
        background-color: #A8F0F0;
        border-width: 5px;
        border-radius: 15px;
        float: left;
    }
    #friends li{
        margin-left: 10px;
    }
    #section2 {
        margin-left: 16.5%;
    }
}
@media screen and (max-width:599px) {
    #friends{
        background-color: #A8F0F0;
        border-width: 5px;
        border-radius: 15px;
    }
    #friends li{
        border: solid #E8FBFB 2px;
        display: inline;
    }
    #section1, #section2{
        margin-left: 0;
    }
}